/* Body & Structure
-------------------------------------------------- */

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: #ffffff;
	position: relative;
	background-image: none;
}

.homepage {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url() no-repeat;
	background-color: #fff;
	postion: relative;
	background-image: url('../img/background.jpg') ;
}


.page-wrapper {
	min-height: %;
	height: auto !important;
	height: 100%;
	margin-bottom: -248px; /* the bottom margin is the negative value of the footer's height */
}

.footer .push {
	height: 248px ; /* .push must be the same height as .footer */
}

#green {
	color: #2DE16A;
}

#green :hover {
  color: #fff;
}

#blue {
	background-color: #31ACD5;
}

dd {
margin-left: 25px;
}




@media (max-width: 767px) {
  body {
    padding: 0px;
  }

  .container {
    width: auto;
	padding-right: 20px;
    padding-left: 20px;
  }

}



/* Fonts
-------------------------------------------------- */

a:hover {
  text-decoration: none;
}

p {
	font-size:16px;
	line-height:24px;
	color: #8C8C8C;
}


h1 {
	font-size: 60px;
	line-height: 50px;
	padding-bottom:20px;
	padding-top:80px;
	color: #35322F;	
}

h1#campus {
	font-size: 60px;
	padding-bottom:30px;
	padding-top:10px;
	color: #35322F;	
}


h1#hero {
	font-size: 100px;
	color: #fff;
	padding-top:70px;
	line-height: 100px;
	text-align: center;
	text-shadow: -1px -1px white, 1px 1px #333;
	font-family:'Alfa+Slab+One', 'Rockwell','serif';
	}
	
h1#herosub {
		font-size: 80px;
		padding-bottom:20px;
		line-height: 100px;
		}
	
h1#about {
	font-size: 24px;
	line-height: 26px;
	padding-top:20px;
}


h2#join {
font-size: 30px;
line-height: 36px;
color: #fff;
text-align: center;
padding-top: 40px;
font-weight: normal;

}



h3 {
	color: #8C8C8C;
	font-size:24px;
	padding-bottom: 30px;
	padding-top: 30px;
	letter-spacing:2px;
}

h1#rockwell {
	font-size: 25px;
	line-height: 30px;
	color: #6D6D6D;
	font-family:'Alfa+Slab+One', 'Rockwell','serif';
	letter-spacing:-1.5px;
	padding-bottom: 100px;
	padding-top: 60px;
	text-align: center;
}

/* Landscape phones and down */
@media (max-width: 480px) { 
	h1#hero {
		padding-top: 50px;
		font-size: 350%;
		letter-spacing:.5px;
		line-height: 60px;
	}
	
	h2#join {
		font-size: 180%;
		padding-top: 20px;
		line-height: 35px;
		}	
		
		h1#rockwell {
		font-size: 150%;	
		padding-bottom: 50px;
		padding-top: 55px;
		}
}

/* Landscape phone to portrait tablet 
@media (min-width: 480px) (max-width: 767px) { 

}
*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 480px) and (max-width: 979px) { 
	h1#hero {
		font-size: 600%;
		letter-spacing:.5px;	
	}
}

/* Large desktop */
@media (min-width: 1200px) { 
	h1#hero {

	}
}


/* Navbar
-------------------------------------------------- */



.navbar-inner {
	min-height: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #222222 ;
	background-image:none !important;
	
	/* 
	background-image: -moz-linear-gradient(top, #fff, #fff);
	background-image: -ms-linear-gradient(top, #fff, #fff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff, #fff);
	background-image: -o-linear-gradient(top, #fff, #fff);
	background-image: linear-gradient(top, #fff, #fff);
	*/
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), inset 0 -1px 0 rgba(0, 0, 0, 0.0);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), inset 0 -1px 0 rgba(0, 0, 0, 0.0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0), inset 0 -1px 0 rgba(0, 0, 0, 0.0);
}


.navbar .nav > li > a {
	float: right;
	padding: 15px 10px 11px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 18px;
	font-family: Rockwell;
}

.navbar .nav > li > a:hover {
  color: #ADADAD;
  text-decoration: none;
  background-color: transparent;
}



.navbar .brand {
	display: block;
	float: left;
	margin: 10px 10px 11px;
	font-size: 24px;
	color: #fff;
	font-family: Rockwell;
	vertical-align: middle;
}





/* Index.html
-------------------------------------------------- */

.block{
	background-color: white;
	width: 100%;
	height: 500px;
	padding-top: 50px;
	position: relative;
}


#kickstarter {
	padding-top: 80px;
}


#video {
	padding-top: 30px;
}

@media (min-width: 768px) { #video {

	width: 960px; }
}


.newsletter-main {
	padding-top: 30px;
	padding-bottom: 50px;
}
@media (max-width: 979px) {

	.newsletter-main {
		padding-top: 50px;
	} 

}

.hero-unit {
	position: relative;
	margin-top:5%;
	margin-bottom: %;
	margin-right: 0;
	margin-left: 0;
	background-color: #31acd5;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-bottom: 70px;
}

.hero-unit h1 {
	margin-bottom: 8px;
	font-size: 80px;
	line-height: 1;
	letter-spacing: -1px;
	color: inherit;	
}

@media (max-width: 979px) {
	.hero-unit h1 {
		font-size:50px;
	}

}



@media (max-width: 480px) {
	.hero-unit h1 {
		font-size:45px;
	}
}

.hero-unit p {
	font-size: 26px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
}

.carousel {
	position: relative;
	margin-bottom: 5%;
	margin-top: 5%;
}


/* space.html
-------------------------------------------------- */

.header {
	padding-top: 60px;
	position: relative;
}


/* Community.html
-------------------------------------------------- */

.header {
	position: relative;
	margin: 5%;
}

.intro-left{
	position: relative;
}


.facebook-wrapper{
	padding-bottom: 20px;
}

/* Education.html
-------------------------------------------------- */

.catalog {
	margin-left: 5%;
	margin-bottom: 5%;
}

.catalog:hover {
	background-color: #ededed;
}

.class-img:first-child {
	margin-left: 0;
}

.details {
	margin: 0;
	float: left;
}

.instructor-title {
	font-family: 'News706BT-RomanC';
	font-size: 0.9em;
	line-height: 1.3;
	margin-top: 0;
	color: #666;
}

.date {
	float: right;
}

.month {
	font-family: '';
	text-transform: uppercase;
	font-weight: normal;
	color: black;
	color: #e3e3e3;
	background: #333;
	margin: 0;
	padding: 10px 20px 10px 20px;
}

.day {
	font-family: '';
	text-transform: uppercase;
	font-weight: normal;
	color: black;
	font-size: 18px;
	margin: 0;
	padding: 10px 20px 10px 20px;
	background: #E2E2E2;
	color: #333;
	text-align: center;

}

.event:hover;{
	background-color: #000;
	background-image: #000;
}


/* Tweak button
-------------------------------------------------- */
#donate {
	padding-top: 60px;
}



/* Footer
-------------------------------------------------- */

#navlist li{
margin-left: -20px;
list-style-type: none;
display: inline;
padding-right: 40px;
color: #000;
font-size: 18px;
padding-bottom: 20px;
}


footer {
	background-color: #fff;
	vertical-align: baseline;	
	position: relative;
	padding-top:20px;
	margin-top:80px;
}

p#foot {
	color: #000;
	font-size: 18px;
	padding-bottom: 20px;
}

p#footaddress {
	color: #000;
	font-size: 14px;
	padding-bottom: 5px;
}

a#foot {
	color: #FFFA40;
}

h3#foot {
	font-size: 18px;
	line-height: 27px;
	padding-top: 5%;
	spacing: 4px;
}

.address {
	padding-left: 10px;
	padding-bottom: 10px;
}

.social{
	 text-align: right;
}



/* Tweak button
-------------------------------------------------- */
.btn-custom {
	font-size: 18px;
	padding: 15px 22px;
		cursor: pointer;
 background-color: hsl(129, 0%, 95%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08C", endColorstr="#08C");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#08C), to(#08C));
  background-image: -moz-linear-gradient(top, #08C, #08C);
  background-image: -ms-linear-gradient(top, #08C, #08C);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #08C), color-stop(100%, #08C));
  background-image: -webkit-linear-gradient(top, #08C, #08C);
  background-image: -o-linear-gradient(top, #08C, #08C);
  background-image: linear-gradient(#08C, #08C);
  border-color: none;
  color: #fff !important;
  
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #08C;
  *background-color: #08C;
}

.btn-success {

	display: inline-block;
	padding: 15px 60px 15px;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.06);
	
background-color: #08C;
background-image: -ms-linear-gradient(top, #08C, #08C);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#08C));
background-image: -webkit-linear-gradient(top, #08C, #08C);
background-image: -o-linear-gradient(top, #08C, #08C);
background-image: -moz-linear-gradient(top, #08C, #08C);
background-image: linear-gradient(top, #08C, #08C);
background-repeat: repeat-x;
border: none;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #08C;
color: #fff;
text-decoration: none;
  *background-color: #08C;
}



.btn-join {

    display: inline-block;
    padding: 10px 40px 10px;
    float: right;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.06);

	
	
background-color: #08C;
background-image: -ms-linear-gradient(top, #08C, #08C);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#08C));
background-image: -webkit-linear-gradient(top, #08C, #08C);
background-image: -o-linear-gradient(top, #08C, #08C);
background-image: -moz-linear-gradient(top, #08C, #08C);
background-image: linear-gradient(top, #08C, #08C);
background-repeat: repeat-x;
border: none;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-join:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
background-color: #08C;
color: #fff;
text-decoration: none;
*background-color: #08C;
}



/* Tweak form
-------------------------------------------------- */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 48px;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 24px;
	color: #555555;
}

input,
textarea {
	width: 420px;
}

textarea {
	height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #fff;
	border: 1px solid #a8a8a8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}


